body {
  display: flex;
  font-family: Calibri, sans-serif;
  font-weight: 100;
  color: #a3adc0;
  margin: 0;
}

nav {
  width: 15%;
  background-color: #354052;
  font-size: 15px;
  font-weight: 600;
}

main {
  background-color: #edf2f6;
}

h1 {
  color: black;
  font-weight: 400;
  font-size: 20pt;
}

h2 {
  font-size: 10pt;
}

button {
  background: none;
  font-family: Arial, sans-serif;
  color: #a3adc0;
  width: fit-content;
  border: none;
}

button:hover {
  cursor: pointer;
  background-color: #1c222b;
}

.nav-main, .nav-admin {
  border-bottom: #2b3442 solid 2px;
  padding: 5%;
}

.nav-main {
  border-top: #2b3442 solid 2px;
}

.nav-categories {
  padding: 5%;
}

.nav-profile {
  align-items: center;
  display: flex;
  width: 100%;
  padding: 5% 0 10% 0;
}

.nav {
  width: 100%;
  display: flex;
  padding: 5%;
  font-weight: 600;
}

.profile-pic {
  height: 150px;
  width: 150px;
}

.profile-dropdown {
  display: flex;
  width: 100%;
  justify-content: center;
}

.fa {
  padding-right: 5%;
}

.graph {
  height: 180px;
  width: 350px;
}

.stats {
  height: 180px;
  width: 500px;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.full-page {
  display: flex;
  flex-direction: column;
  width: 85%;
}