/* General */

body, input {
  display: flex;
  font-family: Calibri, sans-serif;
  font-weight: 100;
  color: #a3adc0;
  margin: 0;
}

nav {
  width: 15%;
  background-color: #354052;
}

main {
  background-color: #edf2f6;
}

h1 {
  color:#797979;
  font-weight: 400;
  font-size: 20pt;
  margin: 0;
}

h2 {
  font-size: 10pt;
  margin: 0;
}

button {
  background: none;
  font-family: Arial, sans-serif;
  color: #a3adc0;
  width: fit-content;
  border: none;
}

input {
  border: none;
  cursor: text;
}

a {
  color:#2aaefb;
  font-weight: 600;
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

.full-page {
  display: flex;
  flex-direction: column;
  width: 85%;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

/* Nav Bar */

.nav:not(.profile-dropdown) {
  width: 100%;
  display: flex;
  padding: 5%;
  font-weight: 600;
  line-height: 2;
}

.nav:hover {
  background-color: #1c222b;
  border-left: 5px solid #2aaefb
}

.nav-padding {
  padding-left: 5%;
  font-size: 20pt;
}

.text-styling {
  padding: 15% 0 5% 10%;
  color: #69707c
}

.nav-main, .nav-admin {
  width: 100%;
  padding-bottom: 10%;
  border-bottom: #2b3442 solid 2px;
}

.nav-main {
  border-top: #2b3442 solid 2px;
}

.nav-profile {
  align-items: center;
  display: flex;
  width: 100%;
  padding: 5% 0 10% 0;
}

.profile-pic {
  height: 125px;
  width: 125px;
  padding: 10% 5% 5% 5%;
}

.profile-dropdown {
  display: flex;
  width: 100%;
  justify-content: center;
  line-height: 1.5;
  font-size: 12pt;
  font-weight: 600;
}

.admin {
  color: #f4d436;
}

.design {
  color: #2aaefb;
}

.exec {
  color: #ed1b61
}

.hr {
  color: #09ab8a;
}

/* Search Bar */

.search {
  cursor: pointer;
}

.search-input {
  height: 75px;
  width: 75%;
}

.search, .search-input {
  border-right: #ebebeb solid 2px;
  border-bottom: #ebebeb solid 2px;
}

.search-input {
  padding-left: 2%;
  font-weight: 500;
  color: #d6d6d6;
  font-size: 13pt;
}

.search-alt {
  border-bottom: #ebebeb solid 2px;;
}

.search-size {
  width: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20pt;
}

.search:hover, .search-alt:hover {
  background-color: #2aaefb;
  color: white;
}

/* Header */

.header {
  padding-left: 3%;
}

.header-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
}

.header-text {
  width: 50%;
}

.job-title {
  margin-top: 5%;
}

.job-location {
  margin: 1% 0 5% 0;
}

.header-button, .bookmark, .pencil, .trash {
  border: #d6d6d6 solid 2px;
  font-size: 12pt;
  font-weight: 600;
  margin: 5px;
  height: 35px;
}

.header-button {
  border-radius: 40px;
  width: 100px;
}

.bookmark, .pencil, .trash {
  border-radius: 100%;
  width: 35px;
}

.trash {
  margin-right: 5%;
}

.fa-circle {
  color: rgb(78, 165, 78);
}

.fa-circle, .fa-bookmark, .fa-pencil, .fa-trash {
  font-size: 10pt;
  padding: 1%;
}

.fa-map-marker {
  font-size: 15pt;
  padding-right: 5px;
  color: #797979;
}

/* Page View Buttons */

.page-view-buttons {
  margin-left: 2.5%;
  width: 80%;
  justify-content: space-between;
}

.page-view-button {
  font-weight: 600;
  height: 50px;
}

.page-view-button:hover {
  border-bottom: #2aaefb solid 3px;
  color: #2b3442
}

/* Data/Graphs Section */

.data-graphs {
  width: 85%;
  /* justify-content: flex-start; */
  align-items: flex-end;
  border-top: solid 3px #ebebeb;
  padding: 0 4% 4% 4%;
}

.graph {
  height: 350px;
  width: 500px;
}

.stats {
  height: 350px;
  width: 350px;
}

.graph-fig, .stats-fig {
  align-items: center;
}

.data-button {
  background-color: white;
  color: #797979;
  font-weight: 600;
  height: 40px;
  padding: 0 3% 0 3%;
  border: #ebebeb solid 2px;
  border-radius: 50px;
}

.data-button:hover {
  background-color: #d6d6d6;
  color: #2b3442;
}

/* Collapse Bar */

.fold-up {
  justify-content: center;
  height: 30px;
}

.fa-sort-asc {
  font-size: 15pt;
  color: #dcdbdb
}

.arrow {
  margin: 6px;
  padding: 4px 5px 17px 5px;
  border: 3px solid #ebebeb;
  border-radius: 50%;
  background-color: white;
}

.breakpoint {
  width: 45%;
  height: 20px;
  padding-top: 5px;
}

/* Job Description */

.page-body {
  justify-content: space-evenly;
}

.job-description {
  margin: 4%;
  background-color: white;
}

.descrip {
  background-color: #6f7d95;
  padding: 1% 0 1% 2%;
  color: white;
  font-weight: 600;
  line-height: 1.5;
}

.descrip-button {
  background-color: #7d8aa5;
  height: 25px;
  width: 75px;
  color: white;
  font-weight: 600;
}

.title {
  width: 25%;
  font-weight: 600;
  color: #6f7d95;
  padding-right: 2%;
}

.info {
  width: 75%;
  color: #9ea0a7;
}

.tableRow {
  margin: 3% 4%;
  padding-bottom: 3%;
  border-bottom: 2px solid #ebebeb;
}

.bottom {
  border: none;
} 

/* Links */

.links {
  margin: 4% 4% 4% 0;
  height: 100%;
}

.socials {
  width: 100%;
  padding: 4% 2%;
  margin-bottom: 3%;
  color: white;
  font-weight: 600;
}

.float {
  float: left;
  font-size: 12pt;
}

.fb {
  background-color: #4a6fc1;
}

.tw {
  background-color: #02aaef;
}

.lkin {
  background-color: #0181bc;
}

.copies {
  width: 100%;
  padding: 0;
  align-items: center;
  background-color: #49b6c0;
  color: white;
  font-size: 10pt;
}

.link {
  display: flex;
  width: 100%;
  height: 45px;
  padding: 0 4% 0 4%;
  text-overflow: ellipsis;
}

.copyButton {
  margin: 4%;
  cursor: pointer;
}

.link-to-job, .button-widget {
  padding-bottom: 10%;
  border-bottom: 2px solid #c6ccd4;
}

.button-widget, .email-resume {
  padding-top: 5%;
}

/* Refactors:
Use flex instead of line height
Use float instead of nbsp; 
Color Dropper everything
Create class for font weight: 600 or other repetative styling*/